*{
    margin: 0;padding: 0;
    background-color: rgb(162, 162, 162);
        
  
}
html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    /* overflow-y:scroll; */
}

header{
    background-color:  rgb(64, 86, 115);
    height: 12vh;
    overflow-y: hidden;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    overflow-x: hidden;
    overflow-x: hidden;
}
header p{
    background-color: rgb(64, 86, 115);
    position: relative;
    left: 4vh;
    width: 36.3vw;
}
header P:hover{
    text-decoration: dotted underline white;
}

/* intro box */
#intro{
    border:3px solid rgb(46, 45, 45);
    background-color: rgb(189, 125, 146);
    border-radius: 120px;
    width: 40vh;
    height: 27vh;
    position: relative;
    top: 12vh;
    left:60vh;
    text-align: center;
    align-content: center;
}
#intro:hover{
    box-shadow: 0px 0px 15px rgb(175, 6, 62);
}

/*hobby box*/
#hobby{
    border:3px solid rgb(46, 45, 45);
    border-radius: 120px;
    background-color: rgb(83, 145, 158);
    color: rgb(7, 0, 0);
    height: 32vh;
    width: 85vh;
    position:relative;
    left:110vh;
    text-align: center;
    align-content: center;
}
#hobby:hover{
    box-shadow: 0px 0px 15px rgb(4, 132, 158);
}

/* image  */
#image{
    object-fit: contain;
    height: 45vh;
    width: 48vh;
    position: relative;
    top: -42vh;
    align-content: center;
}
#image img{
    object-fit: contain;
    height: 35vh;
    width: 48vh;
}
#image img:hover{
    transform: scale(1.5);
    transition-duration: .8s;
}

/* goto box */
#goto{
    border: black 3px solid;
    border-radius: 63px;
    display: inline-block;
    height: 18vh;
    width: 18vw;
    position: relative;
    bottom: 52vh;
    left: 29vw;
    text-align: center;
    align-content: center;
    background-color: rgb(245, 245, 108);
}
#goto a{
    text-decoration: none;
    color: black;
    background-color: rgb(245, 245, 108);
    color: red;
    }
#goto b{
        text-decoration: none;
        color: black;
        background-color: rgb(245, 245, 108);
        }
#goto:hover{
    box-shadow: 0px 0px 15px rgb(247, 247, 4);
}

/*skiils box  */
#skills {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;  
    gap: 15px;
    padding: 4vw 6vh;
    background-color: #cecccc;
    position: relative;
    top: 20vh;
}
.skill-item b{
    background: white;
}
.skill-item{
    background:white;
    border-radius: 30px;
    border: .3vh black solid;
    font-size: larger;
    height: 25vh;
    align-content: center;
    text-align: center;
    box-shadow: 0 0 5px rgb(167, 36, 154);
}
.skill-item a{
    color: red;
    text-decoration: none;
    background: white;

}
.skill-item a:hover{
    text-decoration: underline ;
    
}
.skill-item:hover{
    scale: 1.1;
    transition-timing-function: ease-in-out ;
    transition-duration: .25s;
    font-weight: bolder;
}
#sh{
    overflow-x: hidden;
    position: relative;
    top: 20vh;
    right: -47vw;
    text-shadow:rgb(167, 36, 154) 4px 0 10px; 
}

/* project box */
#projects{
    position:relative;
    top:85vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto;  
    gap: 15px;
    padding: 4vw 6vh;
    background-color: #cecccc;
  
}
.project-item{
    background:rgb(255, 255, 255);
    border-radius: 30px;
    border: .3vh black solid;
    font-size: larger;
    height: 25vh;
    align-content: center;
    text-align: center;
    box-shadow: 0 0 5px rgb(250, 4, 4);
}
.project-item:hover{
    transition-timing-function: ease-in-out ;
    transition-duration: .25s;
    translate:0px 0px 25px ;
  transform: rotateZ(-8deg) translatey(-0px) translate3d(0px,0px,500px);
  box-shadow: 0 0 25px   rgb(25, 25, 25);
}
.project-item a{
    text-decoration: none;
    background: white;
}
.project-item b{
    background: white;
}
.project-item p{
    background: white;
    display: none;    
}
.project-item:hover p{
    display: block;
    
}
#ph{
    position: relative;
    bottom: -85vh;
    right: -44vw;
    text-shadow:rgba(240, 41, 41, 0.649) 4px 0 10px; 
}


footer{
    background-color:  rgb(64, 86, 115);
    height: 12vh;
    overflow-y: hidden;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    overflow-x: hidden;
    overflow-x: hidden;
    position: relative;
    top: 100vh;
}
footer a{
    text-decoration: none;
}


/* for mobiles  */
@media (max-width: 768px) {
    *{
        overflow-x: hidden;
    }
    header {
        height: 10vh;
        text-align: center;
    }
    header p {
        left: 0;
        font-size: smaller;
       width: auto;
            
        
    }
    #ph{
        top: 8vh;
        z-index: 1  ;
        right: 0;
    }
    #sh{
        top: 8vh;
        right: 0vh;
    }
    #intro, #goto {
        width: 90%;
        left: 5%;
        top: 5vh;
        position: relative;
    }
#hobby{
    width: 90%;
        left: 5%;
        top: 5vh;
        position: relative;
        border-radius: 50px;
        height: 44vh;
        padding: 10px;
}
    #intro {
        border-radius: 50px;
        height: auto;
        padding: 10px;
    }

    #image {
        width: 100%;
        height: 15vh;
        top: 2vh;
        text-align: center;
        overflow-y: hidden;
    }
    #image img {
        width: 80%;
        height:20vh;
        top: 8vh ;
    }
#image img:hover{
    scale: .6;
}
    #skills {
        grid-template-columns: auto auto;
        gap: 10px;
        top: 10vh;
        width: 90%;
        left:-4vh;
        position: relative;
    }
    #projects{
        grid-template-columns: auto auto; width: 90%;
        top: 5vh;
        position: relative;
        left: -4vh;
    }
    footer{
    position: relative;
    top: 3vh;
    }
  #remove,.project-item:hover p{
        display: none;
        
    }    
}
